.header{
    height: 100%;
    position: relative;
    background-image: linear-gradient(
          
        rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)
      ),  url(../../images/airplane.jpg);
    background-size: cover;
    min-height: 110vh;
    font-family: 'Merriweather', serif;
}