.container{
    text-align: center;
    font-size: 15px;
    padding: 7px;

}
.bg{
    background-color: rgba(5, 11, 15, 0.466);
}
nav a:hover{
    text-decoration:none;
    background-color: rgba(6, 6, 7, 0.781);
    color:black;
    border-radius: 2px;
}
nav a{
    display: flex;
    margin-left: 25%;
}
.siteName{
    color: rgb(179, 223, 223);
    margin-left: 20px;
    font-family: 'Merriweather', serif;
    font-style:oblique;
    font-size: 30px;
}
.custom-toggler.navbar-toggler {
    border-color: cyan;
  } 
