.testimonials{
    height: 1000px;
    position: relative;
    background-image: linear-gradient(
          
        rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)
      ),  url(../../images/airplane.jpg);
    background-size: cover;
    background-color: rgba(72, 79, 92, 0.836);
    font-family: 'Merriweather', serif;
}
